<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Results Page</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Results Page</h1>
                <h2>Here are your results!</h2>
                <h3>Within the sentence:  "{{ phraseInput }}"</h3>
                <h3>😱 The Keyword "{{ keywordInput }}" was Super Jumbo Word Frequency Located a total of "{{ wordFrequency }}" times in your Fun Phrase!!! 😂</h3>
                <form action="/">
                    <button type='submit' class='btn-danger'>Return Home</button>
                </form>
            </div>
        </div>
    </body>
</html>
